{% extends "SitioBundle:Default:Base.html.twig" %}
{% block title %}TEST{% endblock %}
{% block stylesheets %}
    <style>
        h3{
            margin-left:0px !important;
        }
        
    </style>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
            <div class="col-lg-12 moveHeader visible-lg">
                <h2 class="text-right text-bold">PLACEMENT TEST</h2>
            </div>
    </div>    
    
    <br/>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-8">    
            
            <div>
                <h2>Respondé las siguientes preguntas:</h2>            
            </div>
            
            <br/>
            
            <form class="form-horizontal" action="{{ path('test_nivel') }}" method="post" >
    
                {% for pregunta in preguntas %} 
                    <div class="aos-item aos-animate" data-aos="fade-up" data-aos-duration="750">
                        <h3 class="required text-left">{{ pregunta.pregunta }}</h3> <br/> 
                        <div id="{{ pregunta.id }}">
                            {% for respuesta in respuestas %} 
                                {% if pregunta.id == respuesta.id %} 
                                    <input type="radio" id="{{ respuesta.idRes }}" name="{{ respuesta.id }}" required="required" value="{{ respuesta.idRes }}">    
                                    <label for="{{ respuesta.idRes }}" class="required"> {{ respuesta.respuesta }} </label> <br/>   
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <br/> 
                {% endfor %}
               
                <br/>
                <input class="btn btn-success btn-block" style="font-weight:bold;border-radius:20px; " type="submit" value="Siguiente" />
                <br/>

            </form>
            
        
                
        </div>
    
    </div>

</div>
{% endblock %}